https://en.wikipedia.org/wiki/Levenshtein_distance

In [1]:
import os
from pathlib import Path

path = Path('data')
os.listdir(path)

['sample_submission.csv', 'test', 'train', 'train_labels.csv']

In [2]:
import pandas as pd

train_labels = pd.read_csv(path / 'train_labels.csv')
train_labels

             image_id                                              InChI
0        000011a64c74  InChI=1S/C13H20OS/c1-9(2)8-15-13-6-5-10(3)7-12...
1        000019cc0cd2  InChI=1S/C21H30O4/c1-12(22)25-14-6-8-20(2)13(1...
2        0000252b6d2b  InChI=1S/C24H23N5O4/c1-14-13-15(7-8-17(14)28-1...
3        000026b49b7e  InChI=1S/C17H24N2O4S/c1-12(20)18-13(14-7-6-10-...
4        000026fc6c36  InChI=1S/C10H19N3O2S/c1-15-10(14)12-8-4-6-13(7...
...               ...                                                ...
2424181  ffffe824f539  InChI=1S/C10H12F2N2O3/c1-17-7-2-5(3-8(15)16)9(...
2424182  ffffea1ebdfa  InChI=1S/C19H20F2N4O3S/c1-10(8-20)28-14-7-12(2...
2424183  ffffee2b4534  InChI=1S/C22H26Cl2N2O4S/c1-16-6-2-3-10-21(16)3...
2424184  fffff0b6eea6  InChI=1S/C17H26N2O6S/c1-23-16-12-14(4-5-15(16)...
2424185  fffff608dd38  InChI=1S/C10H18N2O9P2/c1-7-10(13)9(5-11-2-3-20...

[2424186 rows x 2 columns]

In [11]:
from Levenshtein import distance

distance('abc', 'abc')

0

In [4]:
baseline = pd.read_csv('submission.csv')
baseline

             image_id                                              InChI
0        00000d2a601c  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
1        00001f7fc849  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
2        000037687605  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
3        00004b6d55b6  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
4        00004df0fe53  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
...               ...                                                ...
1616102  ffffcdb2e39e  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
1616103  ffffcfddd770  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
1616104  ffffe4ab06b2  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
1616105  ffffec4033ec  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...
1616106  fffffbebd4f5  InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-1...

[1616107 rows x 2 columns]

In [5]:
most_freq_inchi = baseline.InChI[0]
most_freq_inchi

'InChI=1S/C15H22N2O2/c1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18(19)20/h2-8H,1H3'

In [6]:
distance(most_freq_inchi, train_labels.InChI[0])

45

In [7]:
metric = train_labels.InChI.map(lambda x: distance(x, most_freq_inchi))

In [8]:
metric.mean()

75.78827944720413

In [9]:
sample_submission = pd.read_csv(path / 'sample_submission.csv')
sample_submission

             image_id              InChI
0        00000d2a601c  InChI=1S/H2O/h1H2
1        00001f7fc849  InChI=1S/H2O/h1H2
2        000037687605  InChI=1S/H2O/h1H2
3        00004b6d55b6  InChI=1S/H2O/h1H2
4        00004df0fe53  InChI=1S/H2O/h1H2
...               ...                ...
1616102  ffffcdb2e39e  InChI=1S/H2O/h1H2
1616103  ffffcfddd770  InChI=1S/H2O/h1H2
1616104  ffffe4ab06b2  InChI=1S/H2O/h1H2
1616105  ffffec4033ec  InChI=1S/H2O/h1H2
1616106  fffffbebd4f5  InChI=1S/H2O/h1H2

[1616107 rows x 2 columns]

In [10]:
sample_inchi = 'InChI=1S/H2O/h1H2'
sample_metric = train_labels.InChI.map(lambda x: distance(x, sample_inchi))

In [11]:
sample_metric.mean()

109.53935011587394

In [12]:
most_freq_formula = 'InChI=1S/C15H22N2O2/'
metric = train_labels.InChI.map(lambda x: distance(x, most_freq_formula))
metric.mean()

108.92543105190774